# PyCharm specific
.idea/

# Python virtual environment
venv/
.venv/
*.pyc
__pycache__/

# Secrets files
.env
.env.*
!.env.example

# Logs, downloaded files, etc.
logs/
song_cache/
database/
*.log
*.log.*
*.opus
*.webm
*.m4a
*.mp3
*.aac
*.wav
*.db
*.ipynb
*.pid
*.bat

# But include the essential application runner scripts
!start_bot.bat
!stop_bot.bat
