# PyCharm specific
.idea/

# Python virtual environment
venv/
*.pyc
__pycache__/

# Secrets file - DO NOT COMMIT!
.env

# Optional: Logs, downloaded files, etc.
*.log
*.opus
*.webm
*.bat
*.db
test_ffmpeg.py
juan_musicbot.py
*.ipynb
*.pid