# PyCharm specific
.idea/

# Python virtual environment
venv/
*.pyc
__pycache__/

# Secrets file
.env

# Logs, downloaded files, etc.
*.log
*.log.*
*.opus
*.webm
*.m4a
*.mp3
*.aac
*.wav
*.db
*.ipynb
*.pid
*.bat

# But include the essential application runner scripts
!start_bot.bat
!stop_bot.bat